<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment %><br>
    <%= f.datetime_select :appointment %>
  </div>
  <div class="field">
    <%= f.label :doctor %><br>
    <%#= f.text_field :doctor_id %>
    <%= collection_select(:first_name, :doctor_id, @doctors, :id, :first_name ) %>

  </div>
  <div class="field">
    <%= f.label :patient %><br>
    <%#= f.text_field :patient_id %>
     <%= collection_select(:first_name, :patient_id, @patients, :id, :first_name ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

